{% extends "layout.html" %}
{% block body %}

  <div class="fundo-area">
      <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center justify-content-center" style="background-image: url(static/images/about/others_bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="column column-12">
                    <div class="slider-content slider-content-breadcrumb text-center">
                        <h1 style="color: #fff; font-weight: 700;">Sobre Nós </h1><br />
                        <nav class="text-center">
                          <ol class="breadcrumb justify-content-center">
                              <li class="breadcrumb-item"><a href="/">Home</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Sobre Nós</li>
                          </ol>
                      </nav>
                    </div>
                </div>
            </div>
          </div>
    </div>
  </div>    

  <!-- about start -->
  <div id="about" class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="column column-7">
                <div class="about-title-section about-title-section-2 mb-30">
                    <h1>Quem Nós Somos</h1>
                    <p style="text-align: justify;">A UNIVERSIDADE DE LUANDA, instituição de domínio angolano, credenciado
                       pelo Ministério do Ensino Superior Ciência Tecnologia e Inovação sob 
                      Licença nº 239.01/LA/2019;  foi idealizado para formar quadros dotando-os de 
                      habilidades teóricas, práticas e comportamentais que melhorem a sua performance 
                      profissional e pessoal a todos os níveis da sua atuação.<br><br>

                      Compreendemos que o mundo evolui consideravelmente todos os dias independentemente dos 
                      sectores do mundo corporativo global e torna-se extremamente importante a adequação das 
                      habilidades cognitivas e não cognitivas para melhor atender as necessidade vigentes e a 
                      superação de desafios visando a maximização da obtenção de resultados desejados em todas 
                      as áreas da vida. A arte de formar tal como outras podem ser desenvolvidas e são capazes  
                      de transformar extraordinariamente realidades profissionais e pessoais de indivíduos 
                      e empresas.</p>
                </div>
            </div>
            <div class="column column-5">
                <div class="about-img mb-55">
                    <img src="static/images/about/about_details_left_img.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 60px;">
            <div class="column column-4">
                  <div class="about-title-section about-title-section-2 mb-30">
                      <h1>Nossa Missão</h1>
                      <p>Formar, Educar e Transformar vidas  
                        para o alcance da alta performance
                        com a mais alta assertividade.</p>
                  </div>
            </div>

            <div class="column column-4">
              <div class="about-title-section about-title-section-2 mb-30">
                  <h1>Nossa Visão</h1>
                  <p>Ser uma referência institucional
                    de capacitação e desenvolvimento de quadros
                    de Angola e África.</p>
              </div>
        </div>

        <div class="column column-4">
          <div class="about-title-section about-title-section-2 mb-30">
              <h1>Nossos Valores</h1>
              <p>1- Transparência <br> 2- Congruência <br> 3- Consistência <br>
                4-Diligência <br>
                5- Comunicação e conexão.</p>
          </div>
        </div>
        </div>

        <div class="row" style="padding-top: 60px;">
          <div class="column column-12">
              <div class="university-banner">
                  <img src="static/images/about/university.jpg" alt="">
              </div>
          </div>
      </div>

    </div>
</div>


 <!-- counter start -->
 <div class="counter-area-about">
  <div class="container" style="padding-top: 90px; padding-bottom: 65px;">
      <div class="row">
          <div class="column column-3">
              <div class="couter-wrapper text-center">
                  <img src="static/images/counter/counter_icon1.png" alt="">
                  <span class="counter">10532</span>
                  <h3>Estudantes Satisfeitos</h3>
              </div>
          </div>
          <div class="column column-3">
              <div class="couter-wrapper text-center">
                  <img src="static/images/counter/counter_icon2.png" alt="">
                  <span class="counter">7985</span>
                  <h3>Cursos Lecionados</h3>
              </div>
          </div>
          <div class="column column-3">
              <div class="couter-wrapper text-center">
                  <img src="static/images/counter/counter_icon3.png" alt="">
                  <span class="counter">5382</span>
                  <h3>Estudantes Formados</h3>
              </div>
          </div>
          <div class="column column-3">
              <div class="couter-wrapper text-center">
                  <img src="static/images/counter/counter_icon4.png" alt="">
                  <span class="counter">354</span>
                  <h3>Professores</h3>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- counter end -->

<!-- brand start -->
<div class="brand-area" style="padding-top: 80px; padding-bottom: 80px;">  
  <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="brand-list">
            <h1 style="padding-bottom: 80px;">Conheça os nossos parceiros</h1>
              <div class="column column-3">
                <img src="static/images/brand/brand1.png" alt="">
              </div>

              <div class="column column-3">
                <img src="static/images/brand/brand2.png" alt="">
              </div>

              <div class="column column-3">
                <img src="static/images/brand/brand3.png" alt="">
              </div>

              <div class="column column-3">
                <img src="static/images/brand/brand4.png" alt="">
              </div>
         </div>     

      </div>
      
      </div>
  </div>
</div>
<!-- brand end -->


{% endblock %}
