{% extends "layoutAdmin.html" %}
{% block body %}

  <div class="fundo-area">
      <div class="single-slider slider-height d-flex align-items-center justify-content-center" style="background-image: url(static/images/slider_admin.jpg);">
        <div class="container">
            <div class="row">
                <div class="column column-12">
                    <div class="slider-content text-center">
                        <h1 style="color: #fff; font-weight: 700;">Área de Administração <br></h1>
                        <p>Universidade de Luanda  </p>
                        
                    </div>
                </div>
            </div>
          </div>
    </div>
  </div>    
 
{% endblock %}
